    :root {
        --Mobile: 375px;
        --Desktop: 1440px;

        --accent1-hsl: 0, 100%, 67%;
        --accent1: hsl(var(--accent1-hsl));

        --accent2-hsl: 39, 100%, 56%;
        --accent2: hsl(var(--accent2-hsl));

        --accent3-hsl: 166, 100%, 37%;
        --accent3: hsl(var(--accent3-hsl);

        /* --Light-slate-blue-bg: hsl(252, 100%, 67%);
        --Light-royal-blue-bg: hsl(241, 81%, 54%);

        --Violet-blue-bg-circle: hsla(256, 72%, 46%, 1);
        --Persian-blue-bg-circle: hsla(241, 72%, 46%, 0);

        --White: hsl(0, 0%, 100%);
        --Pale-blue: hsl(221, 100%, 96%);
        --Light-lavender: hsl(241, 100%, 89%);
        --Dark-gray-blue: hsl(224, 30%, 27%);

        --ff: 'HankenGrotesk';
        --fw-regular: 500;
        --fw-bold: 700;
        --fw-extra-bold: 800;
        --fs-paragraphs: 1.125rem; */
    }